*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;

}
.svg-icon-netflix-logo{
    fill: #e50914;
    float: left;
    width: 10vw;
    height: 12vh;
    margin-top: 13px;
    margin-left: 40px;
}
.right-header{
    
    margin-left: 80%;
}
#lang{
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
#sign-in-btn{
    margin-top: 30px;
    float: left;
    margin-left: 30px;
    background-color: #e50914;
    color: white;
    font-size: 17px;
    
    width: 91px;
    height: 34px;
    border-radius: 4px;
    border: none;
}
.center-content{
    margin-top: 14.5%;
    text-align: center;
}
#center-heading{
    font-size: 3.125rem;
    color: white;
}

.showcase {
	
    height: 677px;
	position: relative;
	background: linear-gradient(
        rgba(0, 0, 0, 0.575), 
        rgba(0, 0, 0, 0.575)
      ), url('https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/2548691d-4d8c-4d97-b96d-449d3cca5d7e/IN-en-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg') no-repeat center center/cover;
}

#subtitle{
    text-align: center;
    color: white;
    font-weight: 100;
}
#subtitle1{
    margin-top: 38px;
    font-weight: 100;
}
#email{
    border-color: grey;
    border-radius: 2px;
    border: 2px;
    height: 30px;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 12px;
    color: black;
    width: 500px;
}

#start-btn{
    
    background-color: #e50914;
    color: white;
    margin-left: -2px;
    height: 59px;
    border: none;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    width: 173px;
}

h2 {
    font-weight: 100;
    margin: 0;
}


#test{
    display: none;   
}

#line-div{
    width: 100%;
    height: 3px;
    background-color: #2f2f2f;
    border: solid  #2f2f2f;

}
#subtitle2{
    color: white;
    font-weight: 100;
    margin-left: 133px;
    line-height: 1.5;
}

#tv{
    width: 496px;
    
}

#tv1{
    margin-top: 41px;
    margin-left: 43px;
    width: 338px;
    
}



.heading2{
    line-height: 1.5;
    margin:0px 0px 0px 133px;
}

table{
    padding-bottom: 73px;
    padding-top: 15px;
}
td {
    padding: 0 52px;
  }

.faq-heading{
    text-align: center;
    line-height: 1.5;
    
}
.faq-question {
    padding: 0px 30px 0px 36px;
    margin-bottom: 10px;
    font-weight: 400;
    position: relative;
    width: 60%;
    border: 0;
    background: #303030;
    margin-left: 262px;
}
#faq-para{
    text-align: left;
    color: white;
    font-size: 25px;
}
#last-form{
    margin-left: 346px;
    margin-top: -60px;
    margin-bottom: 74px;
}

#subtitle3{
    color: white;
    font-weight: 100;
    
    margin-left: 62px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #757575;
}
#footer-table{
    margin-left: 166px;
    margin-top: 60px;
    border-collapse: separate;
    border-spacing: 0 1em;
    
}
#brand-name{
    font-size: 14px;
    color: #757575;
}
#plus{
    margin: -36px 0 -9px 518px;
}
#plus1{
    margin: -36px 0 -9px 370px;
}
#plus2{
    margin: -36px 0 -9px 471px;
}
#plus3{
    margin: -36px 0 -9px 500px;
}
#plus4{
    margin: -36px 0 -9px 375px;
}
#plus5{  
    margin: -36px 0 -9px 432px;
}
